<main class="p-5">
    <h1>Colors lesson 1</h1>


    <div class="card p-5">
        <p id="onep"> Hello World!</p>
        <p id="twop">Two text</p>
        <p id="wr-lr">Third text</p>
        <p id="wr-rl">Third text</p>
    </div>

    <pre>this size 2		tab</pre>



    <div class="card p-5" id="tc">
        <p>Text text ext text es est hbkbkb</p>
        <p class="p-b">Text text ext text es est hbkbkb</p>
        <p class="p-c">Text text ext text es est hbkbkb</p>
    </div>








</main>