{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5 box">
    <h1 style="color: yellow;">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>

    <div class="box">This text from div box</div>
</div>

<menu>
    <ul>
        <li><a href="/selector">Selector lesson 1</a></li>
        <li><a href="/selector2">Selector lesson 2</a></li>
        <li><a href="/selector3">Selector lesson 3</a></li>
        <li><a href="/selector4">Selector lesson 4</a></li>
    </ul>
</menu>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}