<h1>Selector lesson 3</h1>

<div class="card card-dark m-5 p-5">
    <input class="input-dark" required>
    <input class="input-dark mt-3" placeholder="This is text">
    <input class="input-dark mt-3" type="number">
</div>

<div class="card card-dark m-5 p-5">
    <img src="https://picsum.photos/200/250" height="100px" alt="random picture from picsum" class="small-img">

    <a href="https://picsum.photos/200/250" rel="external">Link</a>

    <br>
    <button class="btn">Click me!</button>
    <br>
    <a class="btn btn-danger" href="https://picsum.photos/200/250">Click me!</a>
</div>

<div class="card card-dark m-5 p-5">
    <p class="big-text"> This is text about <br> info big text info</p>
</div>