<div class="card m-5 p-5 card-dark">
    <a class="link" href="#anc">Link</a>
</div>

<div lang="en" id="anc" class="card m-5 p-5 card-dark">
    Anchor
</div>

<div lang="ru" class="card m-5 p-5 card-dark">
    <input placeholder="write your text">
    <span>some text</span>
</div>

<div class="m-5 p-5 card-dark">
    <button class="me-3">Test button</button>
    <button disabled>Disabled test button</button>
</div>

<div class="m-5 p-5 card-dark">
    <input class="inp">
    <div class=" mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="m-5 p-5 card-dark">
    <div>
        <input class="valid" type="email" required placeholder="test">
        <span>Test text</span>
    </div>
    <div class="mt-3">
        <input type="number" min="1" max="10" class="numb" value="0" required>
    </div>
</div>