<h1>Selector lesson 3</h1>

<div class="card card-dark m-5 p-5">
    <input class="input-dark" required>
    <input class="input-dark mt-3">
    <input class="input-dark mt-3" type="number">
</div>

<div class="card card-dark m-5 p-5">
    <img src="https://picsum.photos/200/250" height="100px" alt="random picture from picsum" class="small-img">
</div>