<h1>Selector lesson 2</h1>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <p class="item">5</p>
        <p class="item">5</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="item">Only-child</p>
</div>