<!DOCTYPE html>
<html>

<head>
    <title>
        {{page.title}}
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">
                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_lable">Slack Features</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info wline">All the features of Slack work together so you can, too.</p>

                        <div class="hero_buttons">
                            <a href="#" class="button button_one click">Try for free</a>
                            <a href="#" class="button button_two click">See all features</a>
                        </div>
                        <img src="/img/hero_image.png" alt="Hero" class="hero_image">
                    </div>
                </div>


                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="Airbnb" class="brands_logo">
                    <img src="/img/brands/target.png" alt="Target" class="brands_logo">
                    <img src="/img/brands/uber.png" alt="Uber" class="brands_logo">
                    <img src="/img/brands/onemedical.png" alt="Onemedical" class="brands_logo">
                    <img src="/img/brands/newscorp.png" alt="Newscorp" class="brands_logo">
                    <img src="/img/brands/us-department-of-veteran-affairs.png" alt="US-department-of-veteran-affairs"
                        class="brands_logo">
                    <img src="/img/brands/intuit.png" alt="Intuit" class="brands_logo">
                    <img src="/img/brands/sonos.png" alt="Sonos" class="brands_logo">
                </div>
            </div>
        </section>

        <section class="page_section">
            <div class="page_section_light">
                <div class="page_content features_section">

                    <h2 class="features_title">Work more easily with everyone</h2>
                    <p class="features_description wline">Stay on the same page and make decisions faster by bringing
                        all of your
                        work communication into one place.</p>

                    <div class="feat_card_grid">

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/connect.svg');"></span>
                            <strong>Slack Connect</strong>
                            <p class="wline">Collaborate with team at other companies the same way you do
                                with teams at your own.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/channels.svg');"></span>
                            <strong class="feat_card_title">Channels</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/huddles.svg');"></span>
                            <strong class="feat_card_title">Huddles</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/clips.svg');"></span>
                            <strong class="feat_card_title">Clips</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/canvas.svg');"></span>
                            <strong class="feat_card_title">Canvas</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/messaging.svg');"></span>
                            <strong class="feat_card_title">Messaging</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>

                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/accessibility.svg');"></span>
                            <strong class="feat_card_title">Accessibility</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                    </div>
                </div>

                <div class="page_content features_more_section">

                    <h3 class="features_more_title">What you need, when you need it</h3>
                    <p class="features_description wline">Spend less time shuffling tabs with a comprehensive message
                        archive and all your work tools at your fingertips.</p>

                    <div class="feat_more_card_grid">
                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/integrations.svg');"></span>
                            <strong>Apps and Integrations</strong>
                            <p class="wline">Streamline work by connecting
                                Slack with other services like
                                Google Drive, Office 365 and
                                over 2,200 more.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/workflow.svg');"></span>
                            <strong>Workflow Builder</strong>
                            <p class="wline">Streamline work by connecting
                                Slack with other services like
                                Google Drive, Office 365 and
                                over 2,200 more.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/search.svg');"></span>
                            <strong class="feat_card_title">Search</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon feat_icon"
                                style="background-image: url('/svg/features/file_sharing.svg');"></span>
                            <strong class="feat_card_title">File sharing</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page_section">
            <div class="page_content customer_review_block">
                <div class="review_card">
                    <img src="/img/img-deliveroo.jpg" alt="delivero" class="review_img">
                    <div class="review_content">
                        <span class="wline">“The thing that keeps us connected the most is Slack.
                            It’s a very immediate and straightforward method of communication,
                            and really the only channel that people prefer and enjoy using.”</span>
                        <img src="/img/brands/deliveroo.png" alt="delivero" class="customer_logo">
                        <span class="cusomer_sign">Will Sprunt, CIO, Deliveroo</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="page_section">
            <div class="page_content explore_block">
                <h4 class="explore_title">Explore more about working in Slack</h4>
                <div class="explore_card_list">
                    <div class="explore_card">
                        <img src="/img/slack-101.jpg" alt="slack101" class="explore_card_img">
                        <span class="explore_card_title">Slack Tutorials</span>
                        <p class="explore_card_content">Slack 101</p>
                        <a href="#" class="icon icon_arrow arrow_blue click explore_link">learn more</a>
                    </div>

                    <div class="explore_card">
                        <img src="/img/slack-vs-email.png" alt="slack-vs-email" class="explore_card_img">
                        <span class="explore_card_title">Slack vs. Email</span>
                        <p class="explore_card_content">An easier, more organized way to work</p>
                        <a href="#" class="icon icon_arrow arrow_blue click explore_link">LEARN MORE</a>
                    </div>

                    <div class="explore_card">
                        <img src="/img/fastly-shared-channels-wow-enterprise-customers.jpg" alt="customer-stories"
                            class="explore_card_img">
                        <span class="explore_card_title">Customer Stories</span>
                        <p class="explore_card_content">How Fastly uses Slack Connect to wow enterprise customers</p>
                        <a href="#" class="icon icon_arrow arrow_blue click explore_link">LEARN MORE</a>
                    </div>

                </div>
            </div>
        </section>
    </div>

</body>

</html>