:root {
  background-image: url('/fav/android-chrome-192x192.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: blue;
}

header {
  display: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
}

div {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  border: 2px solid red;
  border-radius: 25px;
  width: fit-content;
  /* box-shadow:; */
}

li {
  background-color: blue;
  border: 2px solid yellow;
  border-radius: 25px;
  margin: 15px;
  padding: 20px;
}

li:hover {
  background-color: yellow;
  border: 2px solid blue;
}

li:hover a {
  color: blue;
}

a {
  font-size: 30px;
  color: yellow;
  text-align: center;
  text-decoration: none;
}

footer {
  text-align: center;
  color: yellow;
  font-size: 16px;
}
