:root {
  background-image: url('/fav/android-chrome-512x512.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: rgba(198, 238, 18, 0.158);
  height: 1000px;
}

div {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  border: 2px solid red;
  border-radius: 25px;
  width: fit-content;
  /* box-shadow:; */
}

li {
  background-color: #532677;
  border: 2px solid salmon;
  border-radius: 25px;
  margin: 15px;
  padding: 20px;
}

.w1 {
  height: 750px;
}

li:hover {
  background-color: yellow;
}

li:hover a {
  color: blue;
}

a {
  font-size: 30px;
  color: wheat;
  text-align: center;
  text-decoration: none;
}
