:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-border-light: #d3dee9;
  --color-primary: #0d6efd;
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-text-2: #6c757d;
  --color-background: #f8f9fa;

  --border-radius: 12px;

  --weight-title: 600;
  --weight-text: 400;

  --page-width: 1000px;

  scroll-behavior: smooth;
}

/* ======================= */
.page {
  background: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ======================= */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;

  position: sticky;
  max-width: var(--page-width);
  width: 100%;
  top: 0;
  /* left: calc(50% - (var(--page-width) / 2)); */

  background-color: var(--color-white);
  z-index: 6;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: calc(var(--border-radius) / 2);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  flex-direction: column;
  gap: var(--space-xm);
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  transition: color 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

/* ======================= */

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

/* ======================= */

.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--space-l);
}

.info {
  max-width: 606px;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-l);
}

.info_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--color-title);
  text-align: start;
  padding-right: var(--space-l);
}

.info_description {
  font-weight: var(--weight-text);
  font-size: var(--size-b);
  line-height: 150%;
  color: var(--color-title);
  max-width: 415px;
  width: 100%;
}

.form {
  max-width: 394px;
  width: 100%;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: calc(var(--border-radius) / 3);

  padding: 60px 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.form_input {
  padding: var(--space-xm) var(--space-m);
  border: 1px solid #ced4da;
  border-radius: calc(var(--border-radius) / 3);
  background-color: var(--color-white);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox input {
  display: none;
}

.form_checkbox input ~ div {
  border: 1px solid #767676;
  border-radius: 2px;
  width: 10px;
  height: 10px;
}

.form_checkbox input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox label {
  font-size: var(--size-s);
  color: var(--color-title);
  cursor: pointer;
}

.form_button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: calc(var(--space-m) / 2);
  border-radius: calc(var(--border-radius) / 3);
  width: 100%;
  font-size: 18px;
  text-align: center;
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_line {
  border-bottom: 1px solid #212529;
  opacity: 0.25;
}

.form_info {
  text-align: center;
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  color: var(--color-text-2);
}

.updates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-l);
  padding: var(--space-l);

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-white);
}

.updates_title {
  color: var(--color-title);
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  line-height: 80%;
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.updates_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-l);
}

.updates_list_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--space-s);
}

.user_pic {
  height: 32px;
  width: 32px;
}

.updates_list_item:nth-of-type(1) .user_pic {
  background-color: #007bff;
}

.updates_list_item:nth-of-type(2) .user_pic {
  background-color: #e83e8c;
}

.updates_list_item:nth-of-type(3) .user_pic {
  background-color: #6f42c1;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-m);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  max-height: 55px;
}

.news_nickname {
  color: var(--color-text-2);
  font-size: 12px;
  font-weight: 700;
  line-height: 125%;
}

.news_text {
  color: var(--color-text-2);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 100%;
  max-width: 900px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all_updates {
  color: var(--color-primary);
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  line-height: 137%;
  align-self: flex-start;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition-duration: 0.7s;
  transition-property: opacity, border-color;
}

.all_updates:hover {
  opacity: 0.7;
  border-color: var(--color-primary);
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l) 28px;
  background-color: var(--color-background);
  position: relative;
}

.expirience_title {
  color: var(--color-title);
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}

.expirience_badge {
  position: absolute;
  top: -25px;
  right: -35px;
  font-weight: 700;
  font-size: var(--size-b);
  line-height: 120%;
  color: #fff;
  background-color: #ff7347;
  border-radius: 70px;
  padding: var(--space-m) var(--space-l);
  width: 90px;
  height: 53px;
  transform: rotate(30deg);
}

.expirience_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-l);
  flex-wrap: nowrap;
}

.exp_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--space-s);
  background-color: #212529;
  border-radius: var(--border-radius);
  padding: var(--space-xm);
  width: 298px;
}

.exp_card_title {
  color: var(--color-white);
  font-size: var(--size-l);
  font-weight: 700;
  line-height: 130%;
}

.exp_card_details {
  color: #b1b1b1;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 137%;
}
