:root {
  --space-s: 8px;
  --primary-color: #885ffb;
  --page-with: 1150px;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #111827;
}

a[class$='Button'] {
  transition-property: background-color color;
  transition-duration: 0.7s;
}

a[class$='Button']:hover {
  color: var(--primary-color);
  background-color: white;
}

a[class$='Button']:active {
  opacity: 0.6;
}

a[class$='Link'] {
  border-bottom: 1px solid transparent;
  transition-property: color, border;
  transition-duration: 0.7s;
}

a[class$='Link']:hover {
  color: var(--primary-color);
  border-color: #fff;
}

a[class$='Link']:active {
  opacity: 0.6;
}

.page {
  background-color: #111827;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.pageContent {
  max-width: var(--page-with);
  min-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #111827;
  z-index: 3;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #253041;
  padding: 12px 0px;
}

.logoButton {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 8px 12px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.itemLink {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  padding: 2px 0px;
  color: #fff;
  text-decoration: none;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
}

.adPlace > span {
  border-radius: 4px;
  padding: 2px 6px;
  background: rgba(136, 95, 251, 0.2);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #885ffb;
}

.adItemLink {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
  margin-left: 4px;
}

.onlineCounter {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: 20px;
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgb(17, 24, 39) 0%,
    rgb(78, 63, 146) 100%
  );
}
.heroTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  max-width: 600px;
  width: 100%;
}

.heroDescription {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #9ca3af;
  max-width: 600px;
  width: 100%;
}

.heroButton {
  border-radius: 10px;
  padding: 12px 18px;
  width: 150px;
  height: 40px;
  background: #885ffb;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 24px;
  padding: 32px;
  min-height: 186px;
  backdrop-filter: blur(50px);
  background: rgba(42, 49, 65, 0.44);
}

.aboutHeading {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}

.aboutInfo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #9ca3af;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainTitle > span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
}

.mainTitle > a {
  border: 1px solid #9ca3af;
  border-radius: 10px;
  padding: 12px 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.articleCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-basis: calc((var(--page-with) - 64px) / 3);
  padding: 4px;
  background-color: transparent;
  border-radius: 12px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.7s;
}

.articleCard:hover {
  box-shadow: 0px 0px 20px 1px rgba(42, 49, 65, 0.44);
  background-color: rgba(42, 49, 65, 0.44);
}

.imgCard {
  border-radius: 24px;
  width: 100%;
}

.cardBadge {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px 6px;
  align-self: flex-end;
  background: rgba(251, 95, 95, 0.5);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;

  position: relative;
  bottom: 50px;
  right: 15px;
}

.cardTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.cardDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9ca3af;
}

.cardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 10px;
  padding: 8px 16px;
  width: 85px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  line-height: 100%;
  background: #885ffb;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #253041;
  padding-top: 16px;
  padding-bottom: 32px;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.copyrights {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #9ca3af;
  align-self: center;
}
