:root {
  --page-with: 1150px;

  --space-s: 6px;
  --space-m: 8px;
  --space-l: 20px;

  --primary-color: #885ffb;
  --background-color: #111827;
  --border-color: #253041;
  --border-link-color: #ffffff;
  --shadow-color: #885ffb33;
  --badge-color: #fb5f5f80;

  --txt-color-primary: #ffffff;
  --txt-color-second: #9ca3af;

  --gap-s: 8px;
  --gap-b: 20px;

  --border-radius-s: 8px;
  --border-radius-b: 20px;

  --font-size-s: 14px;
  --font-size-d: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;

  --font-weight-b: 700;
  --font-weight-d: 400;

  --line-height-d: 100%;
  --line-height-m: 150%;
  --line-height-l: 170%;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Inter', sans-serif;

  scroll-behavior: smooth;
}

.page {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 0 calc(var(--space-m) * 2);
}

.pageContent {
  max-width: var(--page-with);
  min-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-b) * 3);
  color: var(--txt-color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-d);
  line-height: var(--line-height-d);
}

a {
  color: var(--txt-color-primary);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.7s;
}

a:active {
  opacity: 0.6;
}

a[class$='Button'] {
  transition-property: background-color;
}

a[class$='Button']:hover {
  color: var(--primary-color);
  background-color: var(--border-link-color);
}

a[class$='Link'] {
  border-bottom: 1px solid transparent;
  transition-property: border;
}

a[class$='Link']:hover {
  color: var(--primary-color);
  border-color: var(--border-link-color);
}

.pageHeader {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 3;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--space-s) * 2) 0px;
}

.logoButton {
  background-color: var(--primary-color);
  border-radius: calc(var(--border-radius-b) / 2);
  padding: var(--space-m) calc(var(--space-s) * 2);
  font-weight: var(--font-weight-b);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--gap-s) * 3);
  align-items: center;
}

.itemLink {
  font-size: var(--font-size-d);
  text-align: center;
  padding: calc(var(--space-m) / 4) 0px;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(var(--space-s) * 2) 0;
}

.adPlace > span {
  border-radius: calc(var(--border-radius-s) / 2);
  padding: calc(var(--space-m) / 4) var(--space-s);
  background: var(--shadow-color);
  font-weight: var(--font-weight-b);
  color: var(--primary-color);
}

.adItemLink {
  margin-left: calc(var(--space-m) / 2);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: var(--gap-b);
  padding: calc(var(--space-m) * 4);
  border-radius: calc(var(--border-radius-s) * 3);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgb(17, 24, 39) 0%,
    rgb(78, 63, 146) 100%
  );
}
.heroTitle {
  font-weight: var(--font-weight-b);
  font-size: calc(var(--font-size-m) * 2);
  text-align: center;
  max-width: 600px;
  width: 100%;
  line-height: var(--line-height-d);
}

.heroDescription {
  font-family: var(--second-family);
  font-size: var(--font-size-d);
  line-height: var(--line-height-m);
  text-align: center;
  color: var(--txt-color-second);
  max-width: 600px;
  width: 100%;
}

.heroButton {
  border-radius: calc(var(--border-radius-b) / 2);
  padding: calc(var(--space-s) * 2) calc(var(--space-s) * 3);
  width: 150px;
  height: 40px;
  background: var(--primary-color);
  font-weight: var(--font-weight-b);
  font-size: var(--font-size-d);
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--gap-s) * 2);
  border-radius: calc(var(--border-radius-s) * 3);
  padding: calc(var(--space-m) * 4);
  min-height: 186px;
  backdrop-filter: blur(50px);
  background: var(--shadow-color);
}

.aboutHeading {
  font-weight: var(--font-weight-b);
  font-size: var(--font-size-l);
}

.aboutInfo {
  font-family: var(--second-family);
  line-height: var(--line-height-l);
  color: var(--txt-color-second);
}

.main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-s) * 4);
}

.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainTitle > span {
  font-weight: var(--font-weight-b);
  font-size: calc(var(--font-size-d) * 2);
}

.mainTitle > a {
  border: 1px solid var(--border-link-color);
  border-radius: calc(var(--border-radius-b) / 2);
  padding: calc(var(--space-s) * 2) var(--space-l);
  font-weight: var(--font-weight-b);
  font-size: var(--font-size-d);
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--gap-s) * 4);
  flex-wrap: wrap;
}

.articleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--gap-s) * 2);
  flex-basis: calc((var(--page-with) - 64px) / 3);
  padding: calc(var(--space-m) / 2);
  background-color: transparent;
  border-radius: calc(var(--border-radius-s) * 2);
  transition-property: background-color, box-shadow;
  transition-duration: 0.7s;
  position: relative;
}

.articleCard:hover {
  box-shadow: 0px 0px 20px 1px var(--shadow-color);
  background-color: var(--shadow-color);
}

.imgCard {
  border-radius: calc(var(--border-radius-s) * 3);
  width: 100%;
}

.cardBadge {
  text-transform: uppercase;
  border-radius: calc(var(--border-radius-s) / 2);
  padding: calc(var(--space-m) / 4) var(--space-s);
  align-self: flex-end;
  background-color: var(--badge-color);
  font-weight: var(--font-weight-b);
  font-size: var(--font-size-d);
  position: absolute;
  top: 150px;
  right: 16px;
}

.cardTitle {
  font-weight: var(--font-weight-b);
  font-size: var(--font-size-m);
}

.cardDescription {
  line-height: var(--line-height-m);
  color: var(--txt-color-second);
}

.cardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--gap-s);
  border-radius: calc(var(--border-radius-b) / 2);
  padding: var(--space-m) calc(var(--space-m) * 2);
  width: 85px;
  height: 30px;
  font-weight: var(--font-weight-b);
  background: var(--primary-color);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--gap-s) * 2);
  border-top: 1px solid var(--border-color);
  padding-top: calc(var(--space-m) * 2);
  padding-bottom: calc(var(--space-m) * 4);
  line-height: var(--line-height-m);
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--gap-s) * 2);
}

.copyrights {
  font-size: var(--font-size-d);
  color: var(--txt-color-second);
  align-self: center;
  text-align: end;
}
